
# sources
OPEN_PHISH_FEED_URL = "https://raw.githubusercontent.com/openphish/public_feed/refs/heads/main/feed.txt"
BLOCK_LIST_PROJECT_URL = "https://blocklistproject.github.io/Lists/alt-version/phishing-nl.txt"

# scanners
GOOGLE_SAFE_BROWSING_API_URL = "https://safebrowsing.googleapis.com/v4/"

# Credentials
VIRUS_TOTAL_API_KEY =
GOOGLE_SAFE_BROWSING_API_KEY =
GOOGLE_THREAT_SCANNER_APP_ID =

# AWS S3 Configuration
USE_S3_STORAGE = False
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
S3_BUCKET_NAME = "threatscanner-data"